*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: rgb(15, 167, 117);
    color: rgb(161, 255, 224);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 5 px rgba(0,0,0,01)
}
.navbar ul {
  display: flex;
  list-style: none;
  margin:0; /*remover as margens da lista */
  padding:0; /*remove o preenchimento interno*/

}

.navbar ul li a{
  color:#008000;
  text-decoration: none;
  padding: 10px 20px;
  display:block;
  border-radius: 5px;
  transition: 0.4s;

}

.navbar ul li a:hover{
  background-color:rgb(164, 255, 229); /* adciona um fundo branco */
  color:rgb(124, 142, 136); /*adciona uma cor diferente ao texto*/
  box-shadow: 0px 4px 10px rgb(0,0,0,0.3);
  /*0px -> move na horizontal
  4px -> move na vertical
  10px -> desfoque de 10px na sombra
  rgba(0,0,0,0.3) adciona a cor preta e uma transparencia de 30%(0.3)
  */
  transform: translateY(-2px); /* move a box 2px pra cima */
}
.slider{
 margin: 20px auto;
 width: 800px;
 height: 400px;
 overflow: hidden;
 border-radius: 10px;
 box-shadow: 0 10px 20px rgba(0,0,0,0.3)
}

.slider-content{
 width: 400%;
 height:100%;
 display: flex;
}

/* esconda os botoes originais RADIO*/
.slider-content input{

    display: none;
}

.slider-box{

   width: 25%;
   transition: 0.6;
}

.slider-box img{
 width: 800px;
 height: 400px;
 object-fit: cover;
}
.slider-box{
  width: 25%;
  transition: 0.6s;
}
.slide-box img{
  width: 800px;
  height: 400px;
  object-fit: cover;
}

#radio1:checked ~ .first{ margin-left: 0;}

#radio2:checked ~ .first{ margin-left: -25% ;}

#radio3:checked ~ .first{ margin-left: -50% ;}

#radio4:checked ~ .first{ margin-left: -75% ;}

.nav-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;

}

.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s;
}

.manual-btn:hover{
  background-color: #ffffff;
}

.rodape-principal{
  background-color: #008000
 color;  #ffffff;
 padding: 40 px 0 20px 0;
 margin: 50 px;

}